<div class="banner">
    <img src="images/stock-banner.jpg" alt="banner" class="index-image">
    <h1 class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
</div>