body {
    font-family: 'BenchNine', sans-serif;
    background: #1166b6;
}

.nav-wrapper {
    background: #010407 !important;
    height: 100px !important;
}

.index-image {
    width: 60%;
    z-index: -1;
    position: absolute;
}
li {
    margin-top: 25px;
}

.banner-text {
    position: relative;
    width: 60%;
    top: 0px;
    color: #010407;
    text-align: justify;
}

.page-footer {
    background: #010407;
}

.footer-text {
    text-align: center;
}

.index-text {
    font-size: 24px;
}

.aboutus-text {
    font-size: 24px;
    color: white;
    text-align: justify;
}