<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Parks Consulting</title>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
        <div>
            <ul class="left">
                <li><a href="/aboutus"><h5>About Us</h5></a></li>
                <li><a href="/services"><h5>Services</h5></a></li>
                <li><a href="/contactus"><h5>Contact Us</h5></a></li>
            </ul>
        </div>
        <a href="/" class="brand-logo center"><h3>Parks Consulting</h3></a>
    </div>
  </nav>

    {{{body}}}

</body>
</html>