<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <title>Parks Consulting</title>
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Parks Consulting</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contactus">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Parks Consulting</h5>
                    <p class="grey-text text-lighten-4">Here is some text.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="/">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="/aboutus">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="/services">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="/contactus">Link 4</a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2018 Parks Consulting
            </div>
        </div>
    </footer>

  <script src="../../js/main.js"></script>
    
</body>
</html>